@model SportProf.Models.Competition

@{
    ViewBag.Title = Resources.Creater.Title;
}
<meta http-equiv="refresh" content="300; URL=">

<h2 class="page-header">
    @if (Request.QueryString["red"] == "competitions")
    {
        <a class="glyphicon glyphicon-chevron-left" style="font-size:25px" href="Competitions"></a>
    }
    else
    {
        <a class="glyphicon glyphicon-chevron-left" style="font-size:25px" href="Manage"></a>
    }
    @Resources.Creater.CreateCompetition
</h2>

@if (ViewBag.Messages != null)
{
    foreach (SportProf.Models.Message message in ViewBag.Messages)
    {
        <div class="alert @message.Type alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@message.Subject</strong> @message.Body
        </div>
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">@Resources.Creater.Type</label>
            <div class="col-md-10">
                @Html.DropDownList("type", (List<SelectListItem>)ViewBag.CompetitionTypes, new { @class = "form-control", style = "width:50%; max-width:70%; max-height:250px; min-width:48.5%; min-height:35px" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@Resources.Creater.Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", style = "width:50%; max-width:70%; max-height:250px;" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@Resources.Creater.Description</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", style = "width:50%; max-width:70%; max-height:250px; min-width:48.5%; min-height:35px" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "width:50%; max-width:70%; max-height:300px;" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Creater.Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
