@model SportProf.Models.Competition
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = Resources.Editr.Title;
}
<meta http-equiv="refresh" content="300; URL=">

@Html.AntiForgeryToken()

@using (Html.BeginForm())
{
    <h2 class="page-header">
        @if (Request.QueryString["red"] == "competitions")
        {
            <a class="glyphicon glyphicon-chevron-left" style="font-size:25px" href="Competitions"></a>
        }
        else
        {
            <a class="glyphicon glyphicon-chevron-left" style="font-size:25px" href="Manage"></a>
        }
        @Resources.Editr.Edit
        <input type="submit" value="@Resources.Editr.Save" class="btn btn-success navbar-right" style="width:100px" />
    </h2>

    if (ViewBag.Messages != null)
    {
        foreach (SportProf.Models.Message message in ViewBag.Messages)
        {
            <div class="alert @message.Type alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@message.Subject</strong> @message.Body
            </div>
        }
    }

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">@Resources.Editr.Type</label>
            <div class="col-md-10">
                @Html.DropDownList("type", (List<SelectListItem>)ViewBag.CompetitionTypes, new { @class = "form-control", style = "width:50%; max-width:70%; max-height:250px; min-width:48.5%; min-height:35px" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@Resources.Editr.Name</label>
            <div class="col-md-10">
                <input id="name" name="name" type="text" class="form-control" style="width:50%; max-width:70%; max-height:250px;" value="@Model.Name" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@Resources.Editr.Description</label>
            <div class="col-md-10">
                <textarea id="description" name="description" class="form-control" style="width:50%; max-width:70%; max-height:250px; min-width:48.5%; min-height:35px">@Model.Description</textarea>
            </div>
        </div>

        <h3 style="margin-top:10px">
            @Resources.Editr.Locations
            @if (Model.Status == SportProf.Models.Status.Requests)
            {
                <a class="btn btn-success navbar-right" style="width:130px" href="AddLocation?cid=@Request.QueryString["cid"]&red=@Request.QueryString["red"]">@Resources.Editr.Add</a>
            }
        </h3>

        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th class="text-center">@Resources.Editr.Name</th>
                    <th class="text-center">@Resources.Editr.UserCount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (SportProf.Models.Location item in ViewBag.Locations)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.UserCount)</td>
                        <td class="col-lg-3 text-center">
                            @if (Model.Status == SportProf.Models.Status.Requests)
                            {
                            <a class="btn btn-danger" href="~/Home/RemoveLocation?cid=@Request.QueryString["cid"]&id=@item.Id&red=@Request.QueryString["red"]" style="width:85px">@Resources.Editr.Remove</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.Status == SportProf.Models.Status.Requests)
        {
        <h3 style="margin-top:10px">
            @Resources.Editr.AcceptedRequests
            @if (ViewBag.Count == 0)
            {
            <a class="btn btn-success navbar-right" style="width:130px" href="Requests?cid=@Request.QueryString["cid"]&red=@Request.QueryString["red"]">@Resources.Editr.Requests (@ViewBag.Count)</a>
            }
            else
            {
            <a class="btn btn-warning navbar-right" style="width:130px" href="Requests?cid=@Request.QueryString["cid"]&red=@Request.QueryString["red"]">@Resources.Editr.Requests (@ViewBag.Count)</a>
            }
        </h3>

            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">@Resources.Editr.UserName</th>
                        <th class="text-center">@Resources.Editr.Email</th>
                        <th class="text-center">@Resources.Editr.Phone</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SportProf.Models.ApplicationUser item in ViewBag.Users)
                    {
                        <tr>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.UserName)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Email)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                            <td class="col-lg-3 text-center">
                                <a class="btn btn-danger" href="~/Home/RemoveUserRequest?cid=@Request.QueryString["cid"]&id=@item.Id&red=@Request.QueryString["red"]" style="width:85px">@Resources.Editr.Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="navbar-right">@Html.PagedListPager(((PagedList.IPagedList<SportProf.Models.ApplicationUser>)ViewBag.Users), page => Url.Action("Edit", new { page, cid = @Request.QueryString["cid"], red = @Request.QueryString["red"] }))</div>
        }

        @if (Model.Status == SportProf.Models.Status.Prepare)
        {
            <h3 style="margin-top:50px">
                Users
            </h3>

            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">User name</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Phone</th>
                        <th class="text-center">Location</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SportProf.Models.UserInCompetition item in ViewBag.UsersComp)
                    {
                        <tr>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.User.UserName)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.User.Email)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.User.PhoneNumber)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Location.Name)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="navbar-right">@Html.PagedListPager(((PagedList.IPagedList<SportProf.Models.UserInCompetition>)ViewBag.UsersComp), page => Url.Action("Edit", new { page, cid = @Request.QueryString["cid"], red = @Request.QueryString["red"] }))</div>
        }
    </div>
}

@if (Request.QueryString["page"] != null)
{
    <script type="text/javascript">
        window.scrollTo(0, document.body.scrollHeight);
    </script>
}