@model PagedList.IPagedList<SportProf.Models.Competition>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = Resources.Manager.Title;
}
<meta http-equiv="refresh" content="300; URL=">
<h2 class="page-header">@Resources.Manager.Manage <a class="btn btn-success navbar-right" style="width:100px" href="~/Home/Create?red=manage">@Resources.Manager.Create</a></h2>

@if (ViewBag.Messages != null)
{
    foreach (SportProf.Models.Message message in ViewBag.Messages)
    {
        <div class="alert @message.Type alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@message.Subject</strong> @message.Body
        </div>
    }
}

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th class="text-center">@Resources.Manager.Name</th>
            <th class="text-center">@Resources.Manager.CompetitionType</th>
            <th class="text-center">@Resources.Manager.Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            switch (item.Status)
            {
                case SportProf.Models.Status.Requests:
                    <tr>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.CompetitionType.Name)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Description)</td>
                        <td class="col-lg-3 text-center">
                            <a class="btn btn-success" href="~/Home/EndRequests?id=@item.Id" style="width:85px">@Resources.Manager.Prepare</a>
                            <a class="btn btn-info" href="~/Home/Edit?cid=@item.Id&red=manage" style="width:85px">@Resources.Manager.Edit</a>
                            <a class="btn btn-danger" href="~/Home/Remove?id=@item.Id&red=manage" style="width:85px">@Resources.Manager.Remove</a>
                        </td>
                    </tr>
                    break;
                case SportProf.Models.Status.Prepare:
                    <tr class="warning">
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.CompetitionType.Name)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Description)</td>
                        <td class="col-lg-3 text-center">
                            <a class="btn btn-success" href="~/Home/Start?id=@item.Id" style="width:85px">@Resources.Manager.Start</a>@*prepare*@
                            <a class="btn btn-info" href="~/Home/Edit?cid=@item.Id&red=manage" style="width:85px">@Resources.Manager.Edit</a>
                            <a class="btn btn-danger" href="~/Home/Remove?id=@item.Id&red=manage" style="width:85px">@Resources.Manager.Remove</a>
                        </td>
                    </tr>
                    break;
                case SportProf.Models.Status.Start:
                    <tr class="success">
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.CompetitionType.Name)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Description)</td>
                        <td class="col-lg-3 text-center">
                            <a class="btn btn-info" href="~/Home/Watch?cid=@item.Id&red=manage" style="width:85px">@Resources.Manager.Watch</a>@*output users state in real time updates*@
                            <a class="btn btn-danger" href="~/Home/StopCompetition?id=@item.Id" style="width:85px">@Resources.Manager.End</a>
                        </td>
                    </tr>
                    break;
                case SportProf.Models.Status.End:
                    <tr class="danger">
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.CompetitionType.Name)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Description)</td>
                        <td class="col-lg-3 text-center">
                            <a class="btn btn-success" href="~/Home/Result?cid=@item.Id&red=manage" style="width:85px">@Resources.Manager.Result</a>@*output result*@
                            <a class="btn btn-danger" href="~/Home/Remove?id=@item.Id&red=manage" style="width:85px">@Resources.Manager.Remove</a>
                        </td>
                    </tr>
                    break;
            }
        }
    </tbody>
</table>
<div class="navbar-right">@Html.PagedListPager(Model, page => Url.Action("Manage", new { page }))</div>