@model PagedList.IPagedList<SportProf.Models.Request>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Competition requests";
}
<meta http-equiv="refresh" content="300; URL=">

<h2 class="page-header"><a class="glyphicon glyphicon-chevron-left" style="font-size:25px" href="Edit?cid=@Request.QueryString["cid"]&red=@Request.QueryString["red"]"></a> Competition requests</h2>

@if (ViewBag.Messages != null)
{
    foreach (SportProf.Models.Message message in ViewBag.Messages)
    {
        <div class="alert @message.Type alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@message.Subject</strong> @message.Body
        </div>
    }
}

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Email</th>
            <th class="text-center">Competition count</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Name)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Description)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.ApplicationUser.Email)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.ApplicationUser.CompetitionCount)</td>
                <td class="col-lg-3 text-center">
                    <a class="btn btn-success" href="~/Home/AcceptRequest?cid=@Request.QueryString["cid"]&id=@item.Id&red=@Request.QueryString["red"]" style="width:85px">Accept</a>
                    <a class="btn btn-danger" href="~/Home/RemoveRequest?cid=@Request.QueryString["cid"]&id=@item.Id&red=@Request.QueryString["red"]" style="width:85px">Decline</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="navbar-right">@Html.PagedListPager(Model, page => Url.Action("Requests", new { page }))</div>