@model PagedList.IPagedList<SportProf.Models.UserInCompetition>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Competition info";
}
@if (ViewBag.Status)
{
    <meta http-equiv="refresh" content="20; URL=">
}

<h2 class="page-header">
    @if (Request.QueryString["red"] == "competitions")
    {
        <a class="glyphicon glyphicon-chevron-left" style="font-size:25px" href="Competitions"></a>
    }
    else
    {
        <a class="glyphicon glyphicon-chevron-left" style="font-size:25px" href="Manage"></a>
    }
    Competition info
</h2>

@if (ViewBag.Messages != null)
{
    foreach (SportProf.Models.Message message in ViewBag.Messages)
    {
        <div class="alert @message.Type alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@message.Subject</strong> @message.Body
        </div>
    }
}

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th class="text-center">User name</th>
            <th class="text-center">Competition count</th>
            <th class="text-center">Result</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.User.UserName</td>
                <td class="text-center">@item.User.CompetitionCount</td>
                <td class="text-center">@item.Result</td>
            </tr>
        }
    </tbody>
</table>
<div class="navbar-right">@Html.PagedListPager(Model, page => Url.Action("Result", new { page, cid = Request.QueryString["cid"], red = Request.QueryString["red"] }))</div>